body {
    background-color: #000000;
    color: #FFFFFF;
    
}

div{
    
    background-color: (0,0,0,3);            
}
h2{
 color: #FFFFFF;
 text-align: center;
 font: italic 200% fantasy;
}

#cv{
    color: #FFFFFF;
    text-align: center;
    font: italic 500% fantasy;    
}

#almighty{
    margin:auto;
}


p{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    text-align: center justify;
    position: relative;
    top: 50%;
    color: #FFFFFF;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


#propic {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: aliceblue;
    border-radius: 100px;
    width: 620px;
        
}



#propic1{
    height: 200px;
    width: 200px;
    
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    border-radius: 100Px;
}

#megapic{
    height: 200px;
    width: 200px;
    align-self: flex-start;
    border-radius: 100Px;
}

#dman{
    height: 200px;
    width: 200px;
    border-radius: 100Px;
}


table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   background-color:rgb(240, 143, 11);
}
th, td {
    padding: 15px;
}

th {
    text-align: left;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100rem;
    height: 600px;
    
    overflow: hidden; /* will contain if #first is longer than #second */
    flex: auto;
}

#wrapper2 {
    
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100rem;

    overflow: hidden; /* will contain if #first is longer than #second */
    flex: auto;
}

#pdata{
    height: 500px;
    width: 500px;
    
    /*margin-left: auto;
    margin-right: auto;
    */
    float: left;
    background-color: #3b4e81;
    border-radius: 25Px;
}

#experience{
    height: 500px;
    width: 500px;
    float: left;
    background-color: #3b4e81;
    border-radius: 25Px;
}

#hobbies{
    height: 500px;
    width: 500px;
    float: left;
    background-color: #3b4e81;
    border-radius: 25Px;
}


li{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif ;    
}
#facts{
    height: 600px;
    width: 500px;
    float: left;
    background-color: rgb(240, 143, 11);
    border-radius: 25Px;
}

#demskillz{
    height: 500px;
    width: 500px;
    
    float: left;
    background-color: #3b4e81;    
    border-radius: 25Px;    
}
#references{
    background-color: rgb(240, 143, 11);
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100rem;
}

fieldset {d
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: rgb(240, 143, 11);
    border: 5px solid black;
}



li {
   
    list-style-image: url(./numettaur.gif);

}


